div.listpanel {
	position: relative;
	margin-bottom: 1em;
	padding: 1em 1em 2.5em;
}

div.listpanel div.listpanel-tools {
	height: 60px;
	padding: 5px 14px;
	background-color: #DDDDDD;
	
	position: static;
	top: 100%;
	left: 0;
}

div.sheet {
	position: absolute;
	top: 0;
	left: 0;
	width: 33%;
	height: 100%;
	
	padding: 10px;
	
	background-color: rgba(255,255,255,0.9);
	
	border-width: 0px 2px 0px 0px;
	border-color: #000000;
	border-style: solid;
}

div.opp_cell {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.opp_key {
	position: absolute;
	top: 0em;
	left: 0em;
	
	width: 5em;
}

div.opp_name {
	position: absolute;
	top: 0em;
	left: 6em;
	
	width: 25em;
}

div.opp_status {
	position: absolute;
	top: 0em;
	left: 32em;
	
	width: 14em;
}

div.opp_tools {
	position: absolute;
	top: 0em;
	left: 47em;
}

div.opp {
	width: 100%;
	position: relative;
	font-size: 14px;
	padding-left: 14px;
	padding-right: 14px;
	
	/* margin-bottom: 0.25em; */
}

div.opp_row {
	width: 100%;
	height: 1.5em;
	position: relative;
}

div.opp_insert {
	width: 100%;
	height: 1.5em;
	display: none;
	
	border-style: dashed;
	border-width: 1px;
	border-color: #DDDDDD;
}

.dragging * {
	pointer-events: none;
}

div#opp_candidates div#list {
	margin-top: 1.5em;
	padding: 0.25em 0em;
	
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD;
}

div#leftrail {
	position: absolute;
	top: 0px;
	left: 0px;
	
	width: 10em;
	height: 100%;
	
	background-color: #333333;
	
	color: #FFFFFF;
	
	padding: 1.5em 0em;
}

input#opp_input_key {
	border-radius: 0px;
	box-shadow: none;
	width: 100%;
	height: 3em;
}

div.opp_row span.label {
	display: inline-block;  /* Bootstrap style fix */
}
